.navigation {
    position: fixed;
    top: 8px;
    left: 10px;
    right: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    transition: margin-right .15s ease;
    pointer-events: none;
    z-index: 10000;
}

.navigation button {
    pointer-events: all;
}

[video-queue-open="true"] .navigation button.toggle-video-queue i {
    transform: rotate(180deg);
}

@media (min-width: 740px) {
    .navigation button.toggle-video-queue {
        visibility: hidden;
    }
}

@media (max-width: 740px) {
    body .navigation button.holo-button {
        width: 30px;
        height: 30px;
    }
}

.content {
    position: relative;
    overflow: auto;
}

@media (min-width: 740px) {
    .content {
        margin-left: 210px;
    }
}

.content .row {
    margin: 15px 0;
}

.player-container {
    position: relative;
    background: black;
}

w2-player {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 10px);
    position: relative;
    z-index: 10;
}

w2-player::after {
    content: "";
    padding-bottom: 56.3%;
    width: 100%;
    display: block;
}

w2-player iframe {
    width: 100%;
    height: 100%;
}

w2-player .player {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.player.active {
    z-index: 100;
}

.room-details {
    position: relative;
    padding: 40px 40px 0px 40px;
    margin: auto;
    display: grid;
    grid-gap: 0 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
}

.room-details .room-title {
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    grid-column: 1 / span 2;
}

.room-details .headline {
    margin-bottom: 10px;
}

footer {
    margin: 0 auto 40px auto;
    padding: 0 40px;
}

footer p {
    color: #cacaca;
    opacity: 0.35;
    font-size: 14px;
    text-align: right;
}

a[href] {
    text-transform: none;
    text-decoration: underline;
    color: inherit;
}