.navigation {
    position: fixed;
    top: 8px;
    left: 10px;
    right: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    transition: margin-right .15s ease;
    pointer-events: none;
    z-index: 10000;
}

.navigation button {
    pointer-events: all;
}

[sidebar-open="true"] .navigation button.toggle-sidebar i {
    transform: rotate(180deg);
}

@media (min-width: 740px) {
    .navigation button.toggle-sidebar {
        visibility: hidden;
    }
}

@media (max-width: 740px) {
    body .navigation button.holo-button {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 740px) {}

main:not([host]) .host-only {
    pointer-events: none;
    opacity: 0.5;
}

.content {
    border-radius: 6px;
    overflow: hidden;
}

.player-container {
    width: 100%;
    height: 100%;
}

.player#placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--backgroundColor1);
}

.player#placeholder h3 {
    margin: 10px 0;
    max-width: 500px;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgb(200, 200, 200);
}

.room-button {
    position: relative;
    min-width: 25px;
    height: 25px;
    font-size: 25px;
    border-radius: 12px;
    background: var(--accentColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;
    user-select: none;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.85);
    outline: none;
    cursor: pointer;
}

.room-button a {
    font-size: 12px;
    padding: 0 4px 0 8px;
}

.room-button:hover {
    transition: .2s ease-out;
}

.room-button:active {
    transition-duration: 0s;
    background: var(--accentColor-highlight);
}

.room-button .toggle[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.room-button .toggle[type="checkbox"]:checked~.room-settings {
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0);
    clip-path: circle(75%);
    transition: .15s ease;
}

.room-settings {
    opacity: 0;
    cursor: default;
    pointer-events: none;
    background: var(--backgroundColor2);
    position: absolute;
    top: -5px;
    left: calc(100% + 20px);
    border-radius: 4px;
    transform: translate(-15px, 0);
    transform-origin: 0 0;
    transition: .1s ease;
    padding: 10px;
    font-size: 14px;
    display: grid;
    z-index: 100000;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.125);
    clip-path: circle(50% at 0 0);
}

.room-settings label {
    width: 150px;
}

.room-settings::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    transform: rotate(45deg) translate(0, 10px);
    background: var(--backgroundColor2);
    border-radius: 3px;
    pointer-events: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    z-index: 1000;
    border-radius: 6px;
    background: var(--backgroundColor1);
}

.sidebar-header-right .room-button {
    margin-left: 10px;
}

.sidebar-header-left, .sidebar-header-right {
    display: flex;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(238, 238, 238, 0.5);
    font-size: 16px;
    margin: 0 15px 15px;
    padding: 10px 0;
    border-bottom: 1px solid var(--backgroundColor2);
}

.sidebar w2-videolist {
    flex: 1;
    padding: 0 15px;
}

.sidebar #queue w2-videolist-item:first-child {
    box-shadow: none;
    opacity: 0.75;
}

.sidebar #queue w2-videolist-item:first-child:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 0;
    width: 64px;
    height: 64px;
    transform: translateX(85%) rotate(45deg);
    background: var(--backgroundColor1);
}

.sidebar #queue w2-videolist-item:first-child .controls {
    display: none;
}

.toggle-history {
    cursor: pointer;
    position: relative;
    padding: 8px 15px;
    background: var(--backgroundColor2);
    transition: background .05s ease-out;
    margin-bottom: 15px;
    margin: 0 5px 15px 5px;
    border-radius: 5px;
}

.toggle-history:hover {
    background: rgba(255, 255, 255, 0.05);
}

.toggle-history:active {
    background: rgba(255, 255, 255, 0.1);
}

.toggle-history::after {
    content: "keyboard_arrow_up";
    font-family: "Material Icons";
    font-display: block;
    font-size: 24px;
    transform: translate(-50%, -50%);
    position: absolute;
    right: 0;
    top: 50%;
}

.sidebar w2-videolist {
    max-height: calc(100% - 64px);
}

.history {
    height: 55%;
    display: flex;
    flex-direction: column;
    transition: .1s ease-out;
}

[video-history-open="false"] .history {
    transform: translate(0, calc(100% - 40px));
    height: 40px;
}

[video-history-open="true"] .toggle-history::after {
    content: "keyboard_arrow_down";
}

.history .headline:not(:first-child), .history w2-itemlist {
    padding: 0 15px;
}

.history .headline {
    margin-bottom: 10px;
}

.history w2-itemlist {
    margin-bottom: 15px;
}

.history w2-videolist .controls {
    left: 0;
    top: auto;
    flex-direction: row;
    padding: 7px 0;
}

.history w2-videolist w2-videolist-item {
    height: 69px;
}

.history w2-videolist w2-videolist-item .controls {
    height: 100%;
    box-sizing: border-box;
}

.sidebar #queue w2-videolist-item .openbtn, .history w2-videolist-item .delbtn {
    display: none;
}