:root {
    --accentColor: rgb(11, 152, 235);
    --backdropColor: hsl(0, 0%, 4%);
    --backgroundColor: hsla(0, 0%, 6%, 1);
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background: var(--backdropColor);
}

main {
    position: relative;
    height: 100vh;
}

button {
    border: none;
    background: var(--accentColor);
    color: white;
    padding: 8px 10px;
    display: block;
    transition: .25s ease;
    z-index: 100;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    transition: .01s ease;
    filter: brightness(0.9);
}

input {
    padding: 8px 10px;
    font-size: 14px;
    background: #313131;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #eee;
    width: 100%;
    box-sizing: border-box;
}

button, input {
    outline-color: var(--accentColor);
}

button {
    cursor: pointer;
}

button.holo-button {
    background: transparent;
    border-radius: 5px;
    background: var(--accentColor);
    color: rgba(255, 255, 255, 0.85);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    user-select: none;
    opacity: 0.75;
    outline: none;
}

button.holo-button:hover {
    opacity: 1;
}

.card {
    padding: 10px;
    background: var(--backgroundColor);
    border-radius: 4px;
    margin-bottom: 20px;
}

.card .headline {
    margin-bottom: 20px;
}

.headline {
    display: block;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.75;
}

a[href] {
    text-transform: none;
    text-decoration: underline;
    color: inherit;
}

/* Placeholders */

.placeholder {
    background: #444;
    animation: fade-in .2s ease;
    animation-fill-mode: both;
}

.placeholder:last-child:not(:first-child) {
    opacity: 0.5;
}

[loading] w2-videolist .placeholder {
    width: 180px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

[loading] w2-player .placeholder {
    width: 100%;
    height: 100%;
    background: black;
}

@keyframes fade-in {
    from {
        opacity: 0
    }
}

/* Footer */

footer {
    margin: 0 auto 40px auto;
    padding: 0 40px;
}

footer p {
    color: #cacaca;
    opacity: 0.35;
    font-size: 14px;
    text-align: right;
}

/* Notifications */

w2-notifications {
    position: fixed;
    bottom: 5px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
    z-index: 1000;
}

w2-notification {
    padding: 10px 20px;
    background: var(--backdropColor);
    box-shadow: 1px 2px 5px hsla(0, 0%, 0%, 0.25);
    display: block;
    color: #eee;
    font-size: 12px;
    opacity: 0.98;
    min-width: 150px;
    animation: slide-in .15s ease;
    user-select: none;
    cursor: pointer;
    margin-bottom: 10px;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}