:root {
    --accentColor: rgb(235, 11, 11);
    --backdropColor: #1c1c1c;
    --backgroundColor: #171717;
}

body {
	margin: 0;
	font-family: sans-serif;
	color: #eee;
	background: var(--backdropColor);
	overflow: hidden;
}

main {
    position: relative;
    overflow: hidden;
	height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "queue header";
}

button {
	border: none;
    background: var(--accentColor);
    color: white;
    padding: 8px 10px;
    display: block;
    transition: .25s ease;
    z-index: 100;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
	transition: .01s ease;
    filter: brightness(0.9);
}

input {
    padding: 8px 10px;
    font-size: 14px;
    background: #313131;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #eee;
    width: 100%;
    box-sizing: border-box;
}

button, input {
	outline-color: var(--accentColor);
}

button {
	cursor: pointer;
}

button.holo-button {
    background: transparent;
    border-radius: 5px;
    background: var(--accentColor);
    color: rgba(255, 255, 255, 0.85);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    user-select: none;
    opacity: 0.75;
    outline: none;
}

button.holo-button:hover {
    opacity: 1;
}

.headline {
    color: rgba(238, 238, 238, 0.5);
    padding: 5px 10px;
    margin: 0 -5px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

a[href] {
    text-decoration: none;
}

/* Placeholders */

.placeholder {
	background: #444;
	animation: fade-in .2s ease;
	animation-fill-mode: both;
}

.placeholder:last-child:not(:first-child) {
	opacity: 0.5;
}

[loading] w2-videolist .placeholder {
	width: 180px;
	height: 100px;
	margin-bottom: 10px;
	border-radius: 5px;
}

[loading] w2-player .placeholder {
	width: 100%;
	height: 100%;
	background: black;
}

@keyframes fade-in {
	from { opacity: 0 }
}