w2-notifications {
    position: absolute;
    bottom: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px 0;
    z-index: 1000;
}

w2-notifications.reactions {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
    z-index: 1000;
}

w2-notification {
    padding: 10px 20px;
	background: #1c1c1c;
    box-shadow: 1px 2px 5px hsla(0, 0%, 0%, 0.25);
    display: block;
	color: #eee;
	font-size: 12px;
	opacity: 0.98;
	min-width: 150px;
	animation: slide-in .15s ease;
	user-select: none;
	cursor: pointer;
	margin-bottom: 10px;
}

w2-notification.emote {
    padding: 5px;
	background: transparent;
	min-width: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
    box-shadow: none;
}

@keyframes slide-in {
	from { transform: translateY(100%); opacity: 0; }
}

@keyframes fade-out {
	to { opacity: 0; }
}