.videolist-wrapper {}

.video-queue {
    position: fixed;
    max-height: 100vh;
    height: 100%;
    z-index: 1000;
    padding: 0 15px;
    left: 0;
    top: 0;
    /* background: linear-gradient(90deg, black, transparent); */
}

.video-queue .addVideo {
    position: absolute;
    top: 8px;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 25px;
    border-radius: 50%;
    background: var(--accentColor);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s ease-out;
    user-select: none;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.85);
}

.video-queue .addVideo::before {
    content: "Paste";
    text-transform: none;
    font-size: 13px;
    background: inherit;
    height: 100%;
    padding: 0 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    overflow: hidden;
    width: 20px;
    opacity: 1;
    max-width: 100px;
    transition: border .3s ease-out, padding .3s ease-out, width .3s ease, opacity .1s ease-out;
}

.video-queue .addVideo:not(:hover)::before {
    padding: 0;
    width: 0;
    opacity: 0;
    max-width: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.video-queue .addVideo:hover {
    opacity: 1;
    border-radius: 25%;
    transition: border .2s ease-out, padding .2s ease-out, width .2s ease, opacity .05s ease-out;
}

.video-queue .addVideo:active {
    opacity: 0.8;
}

.video-queue .title {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(238, 238, 238, 0.5);
    margin-top: 5px;
    position: relative;
    font-size: 16px;
}

.video-queue w2-videolist-item:first-child {
    box-shadow: none;
    opacity: 0.75;
}

.video-queue w2-videolist-item:first-child:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 0;
    width: 64px;
    height: 64px;
    transform: translateX(85%) rotate(45deg);
    background: var(--backgroundColor);
}

.video-queue w2-videolist-item:first-child .controls {
    display: none;
}

.video-queue w2-videolist {
    max-height: calc(100% - 60px);
}

.history w2-videolist {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px 0 10px;
    overflow-x: auto;
}

.history w2-videolist-item {
    margin-right: 10px;
    min-width: 200px;
    width: 200px;
    border-radius: 2px;
}

.history w2-videolist .controls {
    left: 0;
    top: auto;
    flex-direction: row;
    padding: 7px 0;
}

.video-queue w2-videolist-item .openbtn, .history w2-videolist-item .delbtn {
    display: none;
}

w2-videolist {
    width: 180px;
    box-sizing: content-box;
    padding: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-gap: 10px;
}

w2-videolist-item {
    display: block;
    width: 100%;
    height: 100px;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

w2-videolist-item:last-child {
    animation: slideIn .15s;
}

w2-videolist-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

w2-videolist-item .controls {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 0 7px;
}

w2-videolist-item .openbtn, w2-videolist-item .playbtn, w2-videolist-item .delbtn {
    cursor: pointer;
    color: white;
    background: transparent;
    border: none;
    opacity: 0.95;
    padding: 0;
    transition: .05s ease;
}

w2-videolist-item .openbtn {
    font-size: 18px;
}

w2-videolist-item .playbtn {
    font-size: 25px;
}

w2-videolist-item .delbtn {
    font-size: 18px;
}

w2-videolist-item .openbtn:hover, w2-videolist-item .playbtn:hover, w2-videolist-item .delbtn:hover {
    transform: scale(1.15);
    opacity: 1;
}

@media (max-width: 740px) {
    w2-videolist {
        width: 120px;
    }
    w2-videolist-item {
        height: 65px;
    }
    w2-videolist-item .controls {
        right: 0;
        flex-direction: row;
        width: 100%;
    }
    w2-videolist-item .openbtn {
        display: none;
    }
    w2-videolist-item .playbtn {
        font-size: 40px;
    }
    w2-videolist-item .delbtn {
        font-size: 30px;
    }
    .video-queue {
        margin-top: 40px;
        margin-left: -140px;
        transition: margin .15s ease;
    }
    .video-queue .title {
        font-size: 14px;
    }
    [video-queue-open="true"] .video-queue {
        margin-left: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
}