:root {
    --gyro-pallate-background: #191919;
    --gyro-pallate-highlight: #4A4A4A;
    --gyro-pallate-panel-bg: #212121;
    --gyro-pallate-panel-content: #2A2A2A;
    --gyro-pallate-panel-header: #333333;
    --gyro-pallate-btn-bg: #1F1F1F;
    --gyro-pallate-text: #E6E6E6;
    --gyro-pallate-accent: #3D77AA;
    
    --color-scrollbar-thumb: var(--gyro-pallate-panel-header);
    --color-scrollbar-thumb-hover: var(--gyro-pallate-highlight);
    --color-icon: var(--gyro-pallate-text);
}

:root {
    --accentColor: hsl(202, 91%, 40%);
    --accentColor-highlight: hsl(202, 82%, 50%);
    --backgroundColor-bg: var(--gyro-pallate-panel-bg);
    --backgroundColor: var(--gyro-pallate-background);
    --backgroundColor1: var(--gyro-pallate-background);
    --backgroundColor2: hsla(220, 0%, 13%, 1);
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background: var(--backgroundColor);
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto 1fr;
    overflow: hidden;
    grid-gap: 2px;
    grid-template-areas: "menubar sidebar content";
}

main gyro-menubar {
    width: 45px;
}

[layout-menubar] {
    grid-area: menubar;
}

[layout-header] {
    grid-area: header;
}

[layout-sidebar] {
    grid-area: sidebar;
}

[layout-content] {
    grid-area: content;
}

.header {
    background: var(--backgroundColor2);
    display: flex;
}

.logo {
    width: 36px;
}

.header-content {
    flex: 1;
}

.header .meta {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 45px;
}

.header .meta .tab {
    font-size: 13px;
    padding: 0 10px;
    color: #aaa;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    font-family: Roboto;
}

.header .meta .tab:hover {
    text-decoration: underline;
    color: #eee;
}

button {
    border: none;
    background: var(--accentColor);
    color: white;
    padding: 8px 10px;
    display: block;
    transition: .25s ease;
    z-index: 100;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    transition: .01s ease;
    filter: brightness(0.9);
}

input {
    padding: 8px 10px;
    font-size: 14px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #eee;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    text-align: right;
}

input:focus {
    border-color: var(--accentColor);
}

button, input {
    outline-color: var(--accentColor);
}

button {
    cursor: pointer;
}

button.holo-button {
    background: transparent;
    border-radius: 5px;
    background: var(--accentColor);
    color: rgba(255, 255, 255, 0.85);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    user-select: none;
    opacity: 0.75;
    outline: none;
}

button.holo-button:hover {
    opacity: 1;
}

.headline {
    display: block;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.75;
}

a[href] {
    text-transform: none;
    text-decoration: underline;
    color: inherit;
}

.row {
    display: flex;
    align-items: center;
}

/* Placeholders */

.placeholder {
    background: #444;
    animation: fade-in .2s ease;
    animation-fill-mode: both;
}

.placeholder:last-child:not(:first-child) {
    opacity: 0.5;
}

[loading] w2-videolist .placeholder {
    width: 180px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

[loading] w2-player .placeholder {
    width: 100%;
    height: 100%;
    background: black;
}

@keyframes fade-in {
    from {
        opacity: 0
    }
}