w2-header {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--backgroundColor);
}

w2-header {
	transition: margin .15s ease;
}

w2-header .room-title {
	transition: margin .15s ease;
}

w2-header button.holo-button {
    background: transparent;
    border-radius: 5px;
    background: var(--accentColor);
    color: rgba(255, 255, 255, 0.85);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    user-select: none;
    opacity: 0.75;
    outline: none;
}

w2-header button.holo-button:hover {
    opacity: 1;
}