
.placeholder {
	background: #444;
	animation: fade-in .2s ease;
	animation-fill-mode: both;
}

.placeholder:last-child:not(:first-child) {
	opacity: 0.5;
}

[loading] w2-queue .placeholder {
	width: 180px;
	height: 100px;
	margin-bottom: 10px;
	border-radius: 5px;
}

[loading] w2-header .placeholder {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

[loading] w2-player .placeholder {
	width: 100%;
	height: 100%;
	background: black;
}

[loading] w2-userlist .placeholder {
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}

@keyframes fade-in {
	from { opacity: 0 }
}