w2-userlist {
	transition: transform .15s ease;
    padding: 15px;
	box-sizing: border-box;
    background: var(--backdropColor);
}

w2-userlist .headline {
    color: rgba(238, 238, 238, 0.5);
    padding: 5px 10px;
    margin: 0 -5px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

w2-userlist .row {
    margin: 15px 0;
}

w2-userlist .usertag {
    width: 12px;
    height: 12px;
    border-radius: 3px;
}

.usertag.host {
    background: red;
}

w2-itemlist {
    display: block;
}

w2-itemlist .item {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[userlist-open="true"] w2-header {
	margin-right: 240px;
}

[userlist-open="true"] w2-header button.toggle-userlist i {
	transform: rotate(180deg);
}

[userlist-open="true"] w2-userlist {
	transform: translateX(-100%);
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.4);
}

w2-preferences input {
    padding: 8px 10px;
    font-size: 14px;
    margin: 5px 0 10px 0;
    background: #313131;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #eee;
    width: 100%;
    box-sizing: border-box;
}

w2-preferences label {
	opacity: 0.8;
    font-size: 12px;
    text-transform: uppercase;
}