.video-queue {
    position: relative;
    background: var(--backdropColor);
}

.video-queue .addVideo {
    position: absolute;
    top: 8px;
    right: 13px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    border-radius: 50%;
    background: var(--accentColor);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: .15s ease-out;
    user-select: none;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.85);
}

.video-queue .addVideo::before {
    content: "Add";
    text-transform: none;
    font-size: 13px;
    background: inherit;
    height: 100%;
    padding: 0 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    overflow: hidden;
    width: 20px;
    opacity: 1;
    max-width: 100px;
    transition: border .3s ease, 
                padding .3s ease, 
                width .3s ease, 
                opacity .1s ease;
}

.video-queue .addVideo:not(:hover)::before {
    padding: 0;
    width: 0;
    opacity: 0;
    max-width: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.video-queue .addVideo:hover {
    opacity: 1;
    border-radius: 25%;
}

.video-queue .addVideo:active {
    opacity: 0.8;
    transition-duration: .05s;
}

.video-queue .title {
    height: 40px;
    padding: 0 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(238, 238, 238, 0.5);
    text-transform: uppercase;
}

w2-queue {
    width: 180px;
    box-sizing: content-box;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100% - 50px);
    display: grid;
    grid-gap: 10px;
}

w2-queueitem {
    display: block;
    width: 100%;
    height: 100px;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
}

w2-queueitem:last-child {
    animation: slideIn .15s;
}

w2-queueitem:first-child .controls {
    display: none;
}

w2-queueitem:first-child {
    height: 64px;
    box-shadow: none;
    opacity: 0.75;
}

w2-queueitem:first-child:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    transform: translateX(85%) rotate(45deg);
    background: #1c1c1c;
}

w2-queueitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

w2-queueitem .controls {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 0 7px;
}

w2-queueitem .openbtn,
w2-queueitem .playbtn,
w2-queueitem .delbtn {
    cursor: pointer;
    color: white;
    background: transparent;
    border: none;
    opacity: 0.95;
    padding: 0;
    transition: .05s ease;
}

w2-queueitem .openbtn {
    font-size: 18px;
}

w2-queueitem .playbtn {
    font-size: 25px;
}

w2-queueitem .delbtn {
    font-size: 18px;
}

w2-queueitem .openbtn:hover,
w2-queueitem .playbtn:hover,
w2-queueitem .delbtn:hover {
    transform: scale(1.15);
    opacity: 1;
}

@keyframes slideIn {
    from { transform: translateY(-50%); opacity: 0; }
}

body:not([queue-add-dialog="true"]) .addToQueueDialog {
    display: none;
}

.addToQueueDialog {
    position: absolute;
    top: 50px;
    left: 210px;
    background: #1c1c1c;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35);
    min-width: 400px;
    z-index: 100;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 10px;
}

.addToQueueDialog .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addToQueueDialog label {
    font-size: 14px;
}

.addToQueueDialog input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.addToQueueDialog input {
    padding: 8px 55px 8px 10px;
}

.addToQueueDialog button {
    margin-left: -45px;
}